datacenter = "dc1"
data_dir = "PROJECT_ROOT/infra/nomad-stack/nomad/data"
bind_addr = "127.0.0.1"

advertise {
  http = "127.0.0.1"
  rpc  = "127.0.0.1"
  serf = "127.0.0.1"
}

server {
  enabled = true
  bootstrap_expect = 1
}

client {
  enabled = true

  network_interface = "en0"

  host_network "public" {
    cidr = "0.0.0.0/0"
  }

  cpu_total_compute = 40000

  options = {
    "driver.allowlist" = "docker,raw_exec"
    "driver.raw_exec.enable" = "1"
  }

  reserved {
    cpu    = 1000
    memory = 1024
    disk   = 512
  }

  host_volume "docker-sock" {
    path = "/var/run/docker.sock"
    read_only = false
  }

  host_volume "builds" {
    path = "PROJECT_ROOT/infra/nomad-stack/nomad/builds"
    read_only = false
  }

  host_volume "esdata" {
    path = "PROJECT_ROOT/infra/nomad-stack/nomad/esdata"
    read_only = false
  }

  host_volume "opensearch_data" {
    path = "PROJECT_ROOT/infra/nomad-stack/nomad/opensearch_data"
    read_only = false
  }
}

plugin "docker" {
  config {
    volumes {
      enabled = true
    }

    allow_privileged = true

    extra_labels = ["job_name", "task_group_name", "task_name"]

    allow_caps = ["all"]
  }
}

consul {
  address = "127.0.0.1:8500"
  auto_advertise = true
  server_auto_join = true
  client_auto_join = true
}

telemetry {
  collection_interval = "1s"
  disable_hostname = false
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}

vault {
  enabled = true
  address = "http://127.0.0.1:8200"
  
  default_identity {
    aud = ["vault.io"]
    ttl = "1h"
  }
}