POSTGRES_DEPLOYMENT_HOST=localhost
POSTGRES_DEPLOYMENT_PORT=5432
POSTGRES_DEPLOYMENT_LOGIN=postgres
POSTGRES_DEPLOYMENT_PASSWORD=postgres
POSTGRES_DEPLOYMENT_DATABASE=deployment_db

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_LOGIN=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

AUTH_SERVICE_URL=http://localhost:8001
